@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">K komo fua que hay pa dañar</h1>
    <h2 class="display-4">K no de mucha carcel</h2>
    <h4 class="display-6">Real hasta la muelte'</h4>

    <div class="d-grid justify-content-md-center">
        <img src="https://imgdb.net/storage/uploads/39c801e25c26a1bf744c6e8112b3a33ac04e591f6a87e6d49ff223015d030c36.jpeg" width="200"  alt="cosorro">
    </div>

</div>
