@model User


<form asp-action="Create" method="post" class="d-grid justify-content-md-center">
<h1> Create User</h1>
    <div class="form-group">
        <div class="col-12 mb-2">
            <label for="FirstName">First Name:</label>
            <input type="text" asp-for="FirstName" class="form-control">
        </div>
        <div class="col-12 mb-2">
            <label for="LastName">Last Name:</label>
            <input type="text" asp-for="LastName" class="form-control">
        </div>
        <div class="col-12 mb-2">
            <label for="Email">Email:</label>
            <input type="text" asp-for="Email" class="form-control">
        </div>
        <div class="col-12 mb-2">
            <label for="BirthDate">BirthDate:</label>
            <input type="date" asp-for="BirthDate" class="form-control">
        </div>
    </div>
    <button class="btn btn-success mt-2">Send</button>
</form>
    <div class="d-grid justify-content-md-center  mt-5">
        <img src="https://imgdb.net/storage/uploads/4a991c6752b06088739f4d8ea2cd1767e264a94f0f454cd4796bcd6115a024e1.jpeg" width="200"  alt="Kmevez">
    </div>