<a class="btn btn-primary" asp-controller="Users" asp-action="Index">Volver</a>
<table>
    <tr>
        <th>First Name:</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>BirthDate:</th>
        <td>@Model.BirthDate</td>
</table>