@model User

<h1>Update User</h1>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" name="Id" />

    <div class="col-6 mb-2">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control" name="FirstName" />
    </div>

    <div class="col-6 mb-2">
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" name="LastName" />
    </div>

    <div class="col-6 mb-2">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" name="Email" />
    </div>

    <button class="btn btn-primary">Update</button>
</form>
