<a class="btn btn-secondary" asp-Controller="Products" asp-action="Create">Create</a>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Stock</td>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Stock</td>
            <td><a class="btn btn-primary" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a></td>
        </tr>
    }
</table>